@import "tailwindcss";

:root {
  --background: #131314;
  --foreground: #e3e3e3;
  --sidebar-bg: #1e1f20;
  --input-bg: #1e1f20;
}

body {
  background: var(--background);
  color: var(--foreground);
}
